CustomLDAPLogin {

    // here with the second parameter you defini the acceptance
    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
	
        // your ldap url with the entry point see more details in single_role_check.config
        userProvider="$YourLDAPURL" 	
        
        // Your filter query
        userFilter="$YourLDAPQuery1"

        // your user DN name
        authIdentity="$YourUserDNName"

        // target role which you want to make the bind after successful authentication
        authzIdentity="controlRole"
        tryFirstPass="true"
        useSSL="true"
        debug="true"
    ; 
    
    com.sun.security.auth.module.LdapLoginModule REQUIRED
        userProvider="$YourLDAPURLWithEntryPoint" 	
        userFilter="$YourLDAPQuery2"
        authIdentity="$YourUserDNName"
        
        // target role which you want to make the bind after successful authentication
        authzIdentity="monitorRole"
        
        tryFirstPass="true"
        useSSL="true"
        debug="true"
    ; 
};