CustomLDAPLogin {

    com.sun.security.auth.module.LdapLoginModule REQUIRED

	// $YourLDAPServer - your LDAP server hostname
	// $YourPortNumber - your LDAP server port number
	// $LDAPTreeEntryPoint - your LDAP server entry point like DC=...,DC=...
	userProvider="ldaps://$YourLDAPServer:$YourPortNumber/$LDAPTreeEntryPoint" 

	// The query which needs to be executed on the LDAP server. 
	// {USERNAME} - is the user name coming entered for authentication
	// $LDAPTreeEntryPoint - your LDAP group location OU=$YourSubGroupIfYouHave,OU=Workgroups,DC=$YourDCValue1,DC=$YourDCValue2
	// $YourGroupName - your group name which you want to check
	userFilter="(&(objectClass=user)(memberOf=CN=$YourGroupName,$LDAPTreeEntryPoint)(CN={USERNAME}))"

	// DN name of the user, here you need to fill your own settings.
	// "{USERNAME}" means replace with the username from JMX client login 
	// this will be used in case you don't have values in the shared state. 
	authIdentity="CN={USERNAME},OU=Users,OU=Organic Units,DC=$YourDCValue1,DC=$YourDCValue2"
	
	// after successful authentication this is the group which the user will be member
	// groups and their permission are defined in the "/jmx_access/jmxremote.access" file, linking to the JVM is in the "/java_opts/management.properties" file
	authzIdentity="monitorRole"
	
	tryFirstPass="true"

	// how the LDAP authentication should happen on secure channel or not
	useSSL="true"

	// set to false if you don't want to see the debug logs in the application log
	debug="true"
    ; 
};
